{% extends 'base.html.twig' %}

{% block title %}Category - {{ category.name }}{% endblock %}

{% block body %}
<div id="categories-list-wrapper">
    <h2>Category - {{ category.name }}</h2>
    <a href="{{ path('category_create_topic', {'id': category.id})}}">Create a new Topic</a>

    <div id="categories-section-list-wrapper">
        <ul>
            {% if category.topic | length > 0 %}
                {% for topic in category.topic %}
                <li><a href="{{path('topic_show', {'id': topic.id})}}">{{ topic.title }}</a> <time>{{ topic.createdat|date("l h:i") }}</time> </li>
                {% endfor %}
            {% else %}
            <li>No topic found in this category</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
