{% extends 'base.html.twig' %}

{% block title %}Category - {{ category.name }}{% endblock %}

{% block body %}
<div id="categories-list-wrapper">
    <h1>Category - {{ category.name }}</h1>
    <a href="{{ path('category_create_topic', {'id': category.id})}}">Create a new Topic</a>

    <div id="categories-section-list-wrapper">
        <ul>
            {% if category.topic | length > 0 %}
                {% for topic in category.topic %}
                <li>{{ topic.title }} <time>{{ topic.createdat|date("l h:i") }}</time> </li>
                {% endfor %}
            {% else %}
            <li>No topic found in this category</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
